# dependencies (bun install)
node_modules

.turbo
.code

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# Python artifacts
.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
